doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

  footer.w3-container.w3-red 
    adress Generate in EW2025
      a(href="/").w3-right Home
    
